* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #0F161E;
  width: 100vw;
  
}

.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Alex Brush", cursive;
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 100;
  line-height: 1.1;
  text-align: center;
  color: #ffffff
}

.carousel {
  width: 90%;
}

.drinkContainer {
  display: flex;
  justify-content: center;
}

.title2 {
  font-family: "Alex Brush", cursive;
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-weight: 100;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin: clamp(2rem, 4vw, 5rem);
}

.carousel :global(.swiper-pagination) {
  bottom: -17vh !important; 
  z-index: 9 !important;
  height: 20vh !important;
}

.carousel :global(.swiper-pagination-bullet) {
  background-color: #fff !important; 
  opacity: 0.6 !important;
}

.carousel :global(.swiper-pagination-bullet-active) {
  background-color: #cc57c7 !important;
  opacity: 1 !important;
}

.carousel :global(.swiper) {
  bottom: 0px !important; 
  z-index: 9 !important;
  height: 35vh !important;
}

@media (max-width: 768px) {
  .carousel :global(.swiper) {
    height: 25vh !important;
  }
}
