.cardContainer{
  border-radius: 5%;
  background: linear-gradient(0deg, #cc57c7, #efcb58);
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}

.card {
  background: #000000;
  border-radius: 5%;
  width: clamp(120px, 20vw, 200px);
  height: clamp(160px, 20vw, 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardImage {
  height: clamp(100px, 7vw, 150px);
}

.cardTitle {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.1vw, 2rem);
  line-height: 1.1;
  text-align: center;
  color: #cc57c7;
}

@media (max-width: 768px) {
  .card {
    width: clamp(120px, 17vw, 200px);
  }
}
